h1{
    padding: 20px;
    margin: 20px;
    color: blue;
}

button,
    div,
    form,
    input {
      margin: 10px;
    }

    .movieDiv{
      /* making the images go in one line rather than block & adding spacing between the images*/
      float: left;
      margin: 3px;
  }

    .container {
        width: 100%;
        max-width: 1640px;
        margin: 5px auto;
        clear: both;
        float: left;
      }
    
      .row {
        width: 100%;
        max-width: 640px;
        margin: 0px auto;
        clear: both;
        float: left;
      }

    #image {
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
        overflow: auto;
      }